<h2 class="font-bold text-2xl pt-3">Menu</h2>
<div class="md:grid grid-cols-7 gap-5 py-4 items-start">
  <div class="col-span-2 border border-gray-200 p-3 rounded-2xl shadow-gray-1">
    <h3 class="font-bold text-xl pb-3">Categories</h3>
    <ul class="mb-4">
      <li class="left-nav border rounded-2xl border-blue-100 cursor-pointer p-2 flex items-center mb-3 hover:bg-red-500 hover:border-transparent hover:text-white {{item.active? 'active': ''}}" *ngFor = "let item of leftList">
        <span class="p-2 inline-block border-blue-100 border rounded-2xl text-xl mr-4 icon-block">
          <img src="{{item.icon}}" alt="{{item.title}}">
        </span>
        <span class="text-sm">
          <span class="block text-xl font-bold">{{item.title}}</span>
          {{item.number}} items
        </span>
      </li>
    </ul>
    <button type="button"
      class="px-4 py-2 border rounded-full border-red-500 bg-red-100 text-red-500 text-center block w-full">
      + Add
    </button>
  </div>
  <div class="col-span-5 grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-5">
    <div class="p-3 bg-white rounded-3xl shadow-gray-1 relative" *ngFor="let menu of menusList">
      <img class="w-full rounded-3xl" src="{{menu.icon}}" alt="{{menu.title}}">
      <div class="grid grid-cols-4 gap-1 pt-3 text-sm">
        <div class="col-span-3 font-bold">{{menu.title}}</div>
        <div class=" font-bold text-right">${{menu.price}}</div>
        <div class="col-span-2 text-xs">
          Take Orders: <strong class="block">{{menu.takeOrder}}</strong>
        </div>
        <div class="col-span-2 text-xs text-right">
          Revenue: <strong class="block">${{menu.revenue}}</strong>
        </div>
      </div>
      <a href="#" class="absolute right-6 text-white top-6 bg-brown rounded-full px-2 py-0 text-2xl"><i class="fal fa-ellipsis-h"></i></a>
    </div>

  </div>
</div>
