<div class="container mx-auto py-4">
  <div class="grid grid-cols-2 grid-flow-col gap-4">
    <div>
      <a href="#" title="Logo">Logo</a>
    </div>
    <div class="flex justify-end">
      <a href="#" title="notification" class="py-3 px-1 mr-3 inline-block text-xl relative">
        <i class="fas fa-bell"></i>
        <span class="text-red-400 absolute right-0 top-0">&#8226;</span>
      </a>
      <a href="#" title="notification" class="py-3 px-4 inline-block text-xl"><i class="fas fa-user-tie"></i></a>
    </div>
  </div>
</div>
<div class="border-gray-300 border-t border-b">
  <div class="container mx-auto">
    <ul class="flex text-center font-bold">
      <li class="flex-1">
        <a href="#" title="Dash board"
          class="hover:text-red-400 border-transparent py-4 inline-block hover:border-red-500 border-b">
          <i class="fas fa-compress mr-1"></i>
          Dash board
        </a>
      </li>
      <li class="flex-1">
        <a href="#" title="Reservation"
          class="hover:text-red-400 py-4 border-transparent inline-block hover:border-red-500 border-b">
          <i class="fal fa-tv mr-1"></i>
          Reservation
        </a>
      </li>
      <li class="flex-1">
        <a href="#" title="Food Menu"
          class="hover:text-red-400 py-4 border-transparent inline-block hover:border-red-500 border-b">
          <i class="fas fa-utensils mr-1"></i>
          Food Menu
        </a>
      </li>
      <li class="flex-1">
        <a href="#" title="Employeer"
          class="hover:text-red-400 py-4 border-transparent inline-block hover:border-red-500 border-b">
          <i class="fas fa-user-tie mr-1"></i>
          Employeer
        </a>
      </li>
      <li class="flex-1">
        <a href="#" title="Accounting"
          class="hover:text-red-400 py-4 border-transparent inline-block hover:border-red-500 border-b">
          <i class="fal fa-university mr-1"></i>
          Accounting
        </a>
      </li>
      <li class="flex-1">
        <a href="#" title="Help Center"
          class="hover:text-red-400 py-4 border-transparent inline-block hover:border-red-500 border-b">
          <i class="far fa-question-circle mr-1"></i>
          Help Center
        </a>
      </li>
    </ul>
  </div>
</div>
